node_modules/
.env
dist/
.DS_Store
*.pyc
__pycache__/
venv/
.venv/
*.sqlite
coverage/
*.log
pgdata/
apps/**/build/
apps/**/.vite
apps/**/.next
apps/**/coverage
apps/**/.turbo
apps/**/.cache
infra/.env

